In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [ ]:
data = pd.read_csv("../Data/houseDataset.csv")

In [28]:
df = pd.DataFrame(data)

In [29]:
df

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,263000018,14 May 2017,360000,3,2.50,1530.0,1131.0,3.0,No,NaN,...,8,1530.0,0,9,0,98103.0,47.6993,-122.346,1530.0,1509
21605,6600060120,15 February 2016,400000,4,2.50,2310.0,5813.0,2.0,No,NaN,...,8,2310.0,0,4,0,98146.0,47.5107,-122.362,1830.0,7200
21606,1523300141,14 June 2017,402101,2,0.75,1020.0,1350.0,2.0,No,NaN,...,7,1020.0,0,9,0,98144.0,47.5944,-122.299,1020.0,2007
21607,291310100,15 January 2016,400000,3,2.50,1600.0,2388.0,2.0,No,NaN,...,8,1600.0,0,14,0,98027.0,47.5345,-122.069,1410.0,1287
21608,1523300157,14 October 2017,325000,2,0.75,1020.0,1076.0,2.0,No,NaN,...,7,1020.0,0,10,0,98144.0,47.5941,-122.299,1020.0,1357

In [30]:
df.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [31]:
df.describe()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
count,2.160900e+04,2.160900e+04,21609.000000,21605.000000,21600.000000,2.160000e+04,21609.000000,21609.000000,21606.000000,21609.000000,21609.000000,21609.000000,21608.000000,21608.000000,21608.000000,21608.000000,21609.000000
mean,4.580686e+09,5.116186e+05,3.370771,2.114684,2079.943333,1.510953e+04,1.494215,7.623490,1788.351291,291.513490,46.999722,84.417881,98077.939328,47.560050,-122.213874,1986.560024,12769.770790
std,2.876653e+09,2.500620e+05,0.929916,0.770166,918.532579,4.143187e+04,0.539909,1.105519,828.030715,442.570991,29.373317,401.714775,53.507271,0.138560,0.140835,685.442621,27306.508841
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,290.000000,0.000000,3.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1429.250000,5.040000e+03,1.000000,7.000000,1190.000000,0.000000,21.000000,0.000000,98033.000000,47.470975,-122.328000,1490.000000,5100.000000
50%,3.904931e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,7.000000,1560.000000,0.000000,43.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.069050e+04,2.000000,8.000000,2210.000000,560.000000,67.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10084.000000
max,9.900000e+09,1.129575e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,10.000000,9410.000000,4820.000000,118.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [32]:
df.isnull().sum()

ID                                               0
Date House was Sold                              0
Sale Price                                       0
No of Bedrooms                                   0
No of Bathrooms                                  4
Flat Area (in Sqft)                              9
Lot Area (in Sqft)                               9
No of Floors                                     0
Waterfront View                                  0
No of Times Visited                          19485
Condition of the House                           0
Overall Grade                                    0
Area of the House from Basement (in Sqft)        3
Basement Area (in Sqft)                          0
Age of House (in Years)                          0
Renovated Year                                   0
Zipcode                                          1
Latitude                                         1
Longitude                                        1
Living Area after Renovation (in Sqft)           1
Lot Area after Renovation (in Sqft)              0
dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  int64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21605 non-null  float64
 5   Flat Area (in Sqft)                        21600 non-null  float64
 6   Lot Area (in Sqft)                         21600 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21606 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21608 non-null  float64
 17  Latitude                                   21608 non-null  float64
 18  Longitude                                  21608 non-null  float64
 19  Living Area after Renovation (in Sqft)     21608 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(9), int64(8), object(4)
memory usage: 3.5+ MB

In [34]:
df1 = df.copy()

In [35]:
from sklearn.impute import SimpleImputer

num_cols = [
    'No of Bathrooms',
    'Flat Area (in Sqft)',
    'Lot Area (in Sqft)',
    'Area of the House from Basement (in Sqft)',
    'Latitude',
    'Longitude',
    'Living Area after Renovation (in Sqft)'
]

num_imputer = SimpleImputer(strategy='median')
df1[num_cols] = num_imputer.fit_transform(df1[num_cols])

In [36]:
cat_cols = [
    'Zipcode',
    'Waterfront View',
    'Condition of the House',
    'No of Times Visited'
]

cat_imputer = SimpleImputer(strategy='most_frequent')
df1[cat_cols] = cat_imputer.fit_transform(df1[cat_cols])

In [37]:
df1.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900,3,1.00,1180.0,5650.0,1.0,No,Twice,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000,3,2.25,2570.0,7242.0,2.0,No,Twice,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000,2,1.00,770.0,10000.0,1.0,No,Twice,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000,4,3.00,1960.0,5000.0,1.0,No,Twice,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000,3,2.00,1680.0,8080.0,1.0,No,Twice,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [38]:
from sklearn.impute import SimpleImputer

num_cols = [
    'No of Bathrooms',
    'Flat Area (in Sqft)',
    'Lot Area (in Sqft)',
    'Area of the House from Basement (in Sqft)',
    'Latitude',
    'Longitude',
    'Living Area after Renovation (in Sqft)'
]

cat_cols = [
    'Zipcode',
    'Waterfront View',
    'Condition of the House',
    'No of Times Visited'
]

df1[num_cols] = SimpleImputer(strategy='median').fit_transform(df1[num_cols])
df1[cat_cols] = SimpleImputer(strategy='most_frequent').fit_transform(df1[cat_cols])

In [39]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df1['Waterfront View'] = le.fit_transform(df1['Waterfront View'])

In [40]:
df1 = df1.drop('ID', axis=1)
df1 = df1.drop('Date House was Sold', axis=1)
df1 = df1.drop('Zipcode', axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 18 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale Price                                 21609 non-null  int64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   Waterfront View                            21609 non-null  int64
 7   No of Times Visited                        21609 non-null  object
 8   Condition of the House                     21609 non-null  object
 9   Overall Grade                              21609 non-null  int64
 10  Area of the House from Basement (in Sqft)  21609 non-null  float64
 11  Basement Area (in Sqft)                    21609 non-null  int64
 12  Age of House (in Years)                    21609 non-null  int64
 13  Renovated Year                             21609 non-null  int64
 14  Latitude                                   21609 non-null  float64
 15  Longitude                                  21609 non-null  float64
 16  Living Area after Renovation (in Sqft)     21609 non-null  float64
 17  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(8), int64(8), object(2)
memory usage: 3.0+ MB

In [41]:
df1 = pd.get_dummies(
    df1,
    columns=['Condition of the House', 'No of Times Visited'],
    drop_first=True
)

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 23 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale Price                                 21609 non-null  int64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   Waterfront View                            21609 non-null  int64
 7   Overall Grade                              21609 non-null  int64
 8   Area of the House from Basement (in Sqft)  21609 non-null  float64
 9   Basement Area (in Sqft)                    21609 non-null  int64
 10  Age of House (in Years)                    21609 non-null  int64
 11  Renovated Year                             21609 non-null  int64
 12  Latitude                                   21609 non-null  float64
 13  Longitude                                  21609 non-null  float64
 14  Living Area after Renovation (in Sqft)     21609 non-null  float64
 15  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 16  Condition of the House_Excellent           21609 non-null  bool
 17  Condition of the House_Fair                21609 non-null  bool
 18  Condition of the House_Good                21609 non-null  bool
 19  Condition of the House_Okay                21609 non-null  bool
 20  No of Times Visited_Once                   21609 non-null  bool
 21  No of Times Visited_Thrice                 21609 non-null  bool
 22  No of Times Visited_Twice                  21609 non-null  bool
dtypes: bool(7), float64(8), int64(8)
memory usage: 2.8 MB

In [43]:
X = df1.drop('Sale Price', axis=1)
y = df1['Sale Price']

In [44]:
# Train test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [46]:
# Linear Regression
lr_model = LinearRegression()

In [47]:
lr_model.fit(X_train, y_train)
lr_predict = lr_model.predict(X_test)

In [48]:
print("Linear Regression Results:")
print("MAE:", mean_absolute_error(y_test, lr_predict))
print("RMSE:", np.sqrt(mean_squared_error(y_test, lr_predict)))
print("R2:", r2_score(y_test, lr_predict))

Linear Regression Results:
MAE: 93815.25913799556
RMSE: 125725.51044567152
R2: 0.7523373764144307

In [49]:
# Random Forest
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(
    n_estimators=200,
    max_depth=None,
    random_state=42
)

In [50]:
rf_model.fit(X_train, y_train)
rf_predict = rf_model.predict(X_test)

In [51]:
print("Random Forest Results:")
print("MAE:", mean_absolute_error(y_test, rf_predict))
print("RMSE:", np.sqrt(mean_squared_error(y_test, rf_predict)))
print("R2:", r2_score(y_test, rf_predict))

Random Forest Results:
MAE: 56430.31533140063
RMSE: 83673.55555288264
R2: 0.8903041741666067

In [55]:
lr_r2 = r2_score(y_test, lr_predict)
rf_r2 = r2_score(y_test, rf_predict)

if rf_r2 > lr_r2:
    best_model = rf_model
    print("Random Forest Selected")
else:
    best_model = lr_model
    print("Linear Regression Selected")

Random Forest Selected